name: GBA Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Compile GBA ROM
      run: |
        cd gba_core
        make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mi_juego_gba
        path: gba_core/*.gba
